.navbar {
    /* background-color: red; */
}

.logged-in {
    background-color: #ED3D1E;
    /* position: fixed;
    width: 100%; */
}

.navitems {
    color: #272624;
    text-decoration: none;
    display: flex;
    justify-content: right;
}

.nav-item {
    padding: 30px;
}

.item {
    color: #272624;
    text-decoration: none;
    
}

.nav-cta a {
    background-color: #ED3D1E;
    color:white;
    padding: 10px 15px;
}

Link {
    background-color: green;
}

.user-navitem {
    color:white;
    padding: 30px;
}

.nav-dropdown {
    display: none;
    position: absolute;
    top: 80px;
    right: 0px ;
    background-color: beige;
    z-index: 1;
}

.dropdown-item {
    padding: 20px;
}

.user-navitem:hover .nav-dropdown {
    display: block;
}

.item-in-dropdown {
    color: black;
    text-decoration: none;
}